
P{
   background-color: olivedrab;
    color:white
}

.myClass{
    padding:15px 20px;
    border:1px solid #222;
}
body{
    background-color: lightyellow;
}

#wrap {
    background-color: white;
    border: 1px dotted #555;
    padding:10px 20px;
    margin: 20px;
}
@mdiea screen and (min-width: 368px){
    body {
        background-color: red;

    }
    @mdiea screen and (min-width: 368px){
        body {
     background-color: red;
    
        }
        
}
}
