/*초기화*/
*{
  margin: 0; /*(바깥) 여백*/
  padding: 0; /*(안) 여백*/
}
html{
    scroll-behavior: smooth;
}

.bg-blue{
    background-color:#FFC267;  /* 배경-색상*/
    height: 200px;  /*높이*/
}
#avatar{
    background-color: red;
    width: 170px; /*가로폭*/
    height: 170px;/*세로높이*/
    border-radius:50%;/*테두리 반경*/
    overflow: hidden; /*넘침*/
    margin: 0 auto; /*가로 중앙에 배치*/
    position: relative; /*위치: 상대적인 기준*/
    top: 100px;
}
    .name{
       color:#7326F0
    }
     
    .contact{
        color:yellow
     }
    .phone{
        color: blue;
     }
    


.summary{
    width:50%;/* 가로 폭 */
    margin: 100px auto;/* 여백: 상,하0 좌,우 auto(알아서) */
    text-align:center; /*텍스트 가운데 정렬*/
}
.greeting{
    text-align:center
}
.greeting h2 {/* greeting 클래스 안에 있는 h2 태그를 스타일*/
   
    color: red;
    font-size:20;
}
.greeting p{
    color:gray;
}
.info{
    text-align: center;
}
.info h2{
    margin:30px 0; /* 바깥 여백: 상하좌우 30px*/
}
.info ul li {
    display: inline-block;
    margin:30px;
}
.info ul li p {
    margin:20px 0;
}
.job-career {
    text-align:center;
    margin:30px 0; 
}


h2{
    text-align:center;
}
.travel-spop, move-list, ul {
    text-align:center;
}
.travel-spop li, move-list,li{
    display: inline-block;
    width:40%;

}
.travel-spop , move-list {
    padding: 10px 0 20px 0;
}


.stavel-spop li img ,move-list li img {
    width: 100%;
    object-fit: cover; /*사진 줄이기용도*/
}
.owner{
      background-color:#456;
      padding: 30px 0;
      text-align:center;

 }
 




 @media screen and (min-width: 320px){
    #avatar-box{
        background-color:#7326F0;
}

}