/* 스타일시트 주석문 기호 */
/* 1.공용선택지*/

* {
    color: o#333;
}

/* 2. 태그 선택자 (tag selector) : 1개가 아닌 모두~*/
p{
    background-color: olivedrab;
    color:white
}

/* 3.클래스 선택자(class selector): 여러번 반복, 재사용*/
/* padding 여백 border 테두리선*/
.myClass{
    padding:15px 20px;
    border:1px solid #222;
}
/* 4. 아이디 선택자(id selector): 문서 내애서 한번 사용*/
body{
    background-color:lightyellow;
}
#wrap {
    background-color: white;
    border: 1px dotted #555;
    padding:10px 20px;
    margin: 20px;
    
}
/*5 그룹선택자*/
p,h2,.porder{
    border-width:3px; /*선 두께*/
    border-style:dashed; /* 선 종류*/
    margin:15px; /* (바깥) 여백*/
}